
  .input{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    
  }
  .form label{
    text-align: left;
    display: block;
  
  }
  /* .form input{
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 20px;
  } */
  .eye{
    position: absolute;
    right: 5px;
    width: 25px;
  }
  input[type=text], .input-password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 0px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
  }
  
  input[type=text]:hover, .input-password:hover{
    background-color: #97a99a;
  }
  input[type=text]:focus, .input-password:focus{
  background-color: #b9c8bc;
  }
  input[type=submit] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1d241e;
  }

  .form-box{
    display: flex;
    justify-content: center;
  }
  .form{
    margin:auto;
    width: 60%;
    position: relative;
    top: 100px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: rgb(167, 186, 186);
    border-radius: 15px;
  }
  /* .form{
    max-width: 500px;
      position: relative;
      top: 100px;
      margin:auto;
      width: 50%;
      text-align: center;
      padding: 12px 20px;
      border: 1px solid #ccc;
      background-color: rgb(167, 186, 186);
      border-radius: 15px;
  } */

  @media only screen and (max-width: 600px) {
    .form{
      width: 80%;
    }
  }
  