@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Lobster&display=swap');

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
}
*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  background-color:var(--bg-color);
  color: var(--text-color);
  background-size:cover ;
  /* zoom: 125%; */
}
.App.light{
  background-color:var(--bg-color);
  color: var(--text-color);
}
.App.dark{
  background-color:var(--text-color);
  color: var(--bg-color);
}

::selection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}



