@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Lobster&display=swap');

:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color:var(--bg-color);
  color: var(--text-color);
  /* background-image: url('../images/avatar.jpg'); */
  background-size:cover ;
  /* zoom: 125%; */
}
.App.light{
  background-color:var(--bg-color);
  color: var(--text-color);
}
.App.dark{
  background-color:var(--text-color);
  color: var(--bg-color);
}

::selection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}





@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
  .movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .movie-preview{
    max-width: 300px;
  }
  .movie-preview img{
    width: 250px;
    height: 300px;
  }

  .product-details-d {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
  .product-details-d img{
    width:250px;
    /* border-radius: 20px; */
  }
  .product-details-other h2{
    text-transform: uppercase;
  }
  
  .product-details-other p{
    font-size: large;
  }
  .product-details-d h3{
  margin: 3px;
  font-weight: bolder;
  font-size: medium;
  }

  .product-details-d h1{
    margin: 3px;
    font-weight: bolder;
    font-size: medium;
    }
}
